html,body {
	background-color: #f2eae4;
	user-select: none;
	touch-action: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-size: 100px;
	font-family: sans-serif;
}

.main-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 7em;
	height: 9.44em;
}
#game-title {
	position: absolute;
	top: 1.2em;
	left: 1.3em;
	font-size: 0.54em;
	font-weight: bold;
	color: #776e65;
}
#game-score-board {
	position: absolute;
	top: 0.42em;
	left: 3.62em;
	width: 1.2em;
	height: 1.18em;
	background-color: #bbada1;
	border-radius: 0.05em;
}
#game-best-board {
	position: absolute;
	top: 0.42em;
	left: 5.09em;
	width: 1.2em;
	height: 1.18em;
	background-color: #bbada1;
	border-radius: 0.05em;
}
.game-score-label {
	position: absolute;
	left: 50%;
	top: 0.44em;
	transform: translateX(-50%);
	font-size: 0.25em;
	font-weight: bold;
	color: #eee4db;
}
.game-score {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	font-size: 0.4em;
	font-weight: bold;
	color: #ffffff;
	animation-name: boostOut;
	animation-delay: 0s;
	animation-duration: 150ms;
}
#game-subtitle {
	position: absolute;
	left: 2.3em;
	top: 7.67em;
	font-size: 0.3em;
	font-weight: bold;
	color: #776e65;
}
#game-new-game-button {
	transition: background 150ms;
	position: absolute;
	left: 15.35em;
	top: 7.57em;
	padding: 0.64em 0.93em;
	background-color: #8e7a67;
	border-radius: 0.18em;
	font-size: 0.28em;
	font-weight: bold;
	color: #ffffff;
}
#game-new-game-button:hover {
	background-color: #bbada1;
}
#game-board {
	position: absolute;
	left: 50%;
	top: 3.22em;
	width: 5.52em;
	height: 5.52em;
	padding: 0.04em;
	background-color: #bbada1;
	border-radius: 0.1em;
	transform: translateX(-50%);
}
#game-over-elem {
	position: absolute;
	left: 50%;
	top: 3.22em;
	width: 5.52em;
	height: 5.52em;
	padding: 0.04em;
	background-color: #ffffff99;
	border-radius: 0.1em;
	transform: translateX(-50%);
}
.game-over-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
	font-size: 0.6em;
	font-weight: bold;
	color: #776e65;
}
#game-clear-elem {
	position: absolute;
	left: 50%;
	top: 3.22em;
	width: 5.52em;
	height: 5.52em;
	padding: 0.04em;
	background-color: #ffffff99;
	border-radius: 0.1em;
	transform: translateX(-50%);
}
.game-clear-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
	font-size: 0.6em;
	font-weight: bold;
	color: #776e65;
}