html,body {
	background-color: #f2eae4;
	user-select: none;
	touch-action: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.main-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 700px;
	height: 944px;
}
#game-title {
	position: absolute;
	top: 65px;
	left: 48px;
	font-size: 54px;
	font-weight: bold;
	color: #776e65;
}
#game-score-board {
	position: absolute;
	top: 42px;
	left: 342px;
	width: 120px;
	height: 118px;
	background-color: #bbada1;
	border-radius: 5px
}
#game-best-board {
	position: absolute;
	top: 42px;
	left: 492px;
	width: 120px;
	height: 118px;
	background-color: #bbada1;
	border-radius: 5px
}
.game-score-label {
	position: absolute;
	left: 50%;
	top: 11px;
	transform: translateX(-50%);
	font-size: 25px;
	font-weight: bold;
	color: #eee4db;
}
.game-score {
	position: absolute;
	left: 50%;
	top: 75px;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	animation-name: boostOut;
	animation-delay: 0s;
	animation-duration: 150ms;
}
#game-subtitle {
	position: absolute;
	left: 48px;
	top: 230px;
	font-size: 30px;
	font-weight: bold;
	color: #776e65;
}
#game-new-game-button {
	transition: background 150ms;
	position: absolute;
	left: 413px;
	top: 212px;
	padding: 18px 26px;
	background-color: #8e7a67;
	border-radius: 5px;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}
#game-new-game-button:hover {
	background-color: #bbada1;
}
#game-board {
	position: absolute;
	left: 52px;
	top: 322px;
	width: 552px;
	height: 552px;
	padding: 4px;
	background-color: #bbada1;
	border-radius: 10px;
}
#game-over-elem {
	position: absolute;
	left: 52px;
	top: 322px;
	width: 552px;
	height: 552px;
	padding: 4px;
	background-color: #ffffff99;
	border-radius: 10px;
}
.game-over-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #776e65;
}
#game-clear-elem {
	position: absolute;
	left: 52px;
	top: 322px;
	width: 552px;
	height: 552px;
	padding: 4px;
	background-color: #ffffff99;
	border-radius: 10px;
}
.game-clear-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #776e65;
}